<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>


h2 {
  margin-top: 150px;
  text-align: center;
  font-size:35px;
}
h3 {
  text-align: center;
  font-size:30px;
}

p {
  text-align: center;
  font-size:25px;
}

#sidebar {
    display: block;
}

</style>
<body>
  <h2>2. 분석방법</h2>
  <hr>
  <br>
  <br>
  <h3> - 우리가 취업하고 아파트를 어떤 지역 구하는 게 좋을까?​</h3>
  
  <p>1. 개발자는 어느 지역으로 취업을 하는게 좋은지 확인</p>
  <p>2. 그 지역에 대해서 다양한 지표를 통한 아파트 가격 확인</p>
  <p>3. 개발자의 초봉 대비하여 몇년을 모아야 구매가 가능한지 확인</p>
  <br>
  <h3> - 한국에서 가-장 비싼 아파트는?​</h3>

  <p>1. 거래 평균 금액 상위 15개의 아파트 추려내기</p>    
  <p>2. 해당 아파트가 비싼 요인 확인하기</p>
 
  
</body>
</html>