<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>

h2 {
  margin-top: 150px;
  text-align: center;
  font-size:35px;
}

p {
  text-align: center;
  font-size:25px;
}
li {
  text-align: center;
  font-size:25px;
}
h3 {
  text-align: center;
  font-size:30px;   
}

#sidebar {
    display: block;
}
</style>
<body>
    <h2>6. 분석에 대한 결론</h2>
    <hr>
    <br>
    <br>
    <p><strong>유의미한 요소</strong> : 지역(시군구) , 지역별 1평당 거래금액, 년도별 거래금액,  평균연봉, 아파트 명</p>

    <p><strong>무의미한 요소</strong> : 층, 건축년도</p>
    <br>
    <br>
    <h3>- 데이터 분석 결론</h3>
    <ul>
        <p>1. 일자리의 42%가 수도권에 몰려 있다</p>
        <p>2. 수도권 아파트는 생각 했던 것 만큼 비싸다.</p>
        <p>3. 서울안에서도 법정동별로 금액차이가 난다.</p>
        <p>4. 서울에서 취업을 해서 15평 아파트를 구매 할려면 하나도 안쓰고 7.5년 정도 걸린다</li>
        <p>5. 대출이나 집안의 도움없이는 아파트 구매가 힘들다.</p>
        <p>6. 상위 15개의 아파트 중 60%이상이 청담,한남동에 있다. </p>
    </ul>
    <br>
    <br>
    <h3>- 느낀 점</h3>
    <ul>   
        <p>데이터를 통해 어떤 결과를 도출할 것인지 목표 설정이 중요하다.</p>
        <p>도출한 결과와 공공기관 데이터 결과가 상이 할 수 있다.</p>
        <p>효율적인 업무 분할이 중요하다.</p>
        <p>팀원 간 소통을 통해 더 좋은 아이디어를 얻을 수 있다.</p>
    </ul> 
</body>
</html>