<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>

    h2 {
      margin-top: 150px;
      text-align: center;
      font-size:35px;
    }
    
    .listText {
        font-size: 25px;
        height: 50px;
    }
    
    .numbering {
        font-weight: bold;
    }
    
#sidebar {
    display: block;
} 
    </style>
    <body>
        <h2>7.데이터 출처</h2>
        <br>
        <br>
        <hr>
        <br>
        <br>
        <br>
        <!-- <div align="center">
            <ol>
    
                <li class="listText"></li><br>
                <li class="listText"></li><br>
                <li class="listText"></li><br>
                <li class="listText"></li><br>
                <li class="listText"></li>
     
             </ol>
        </div> -->
    
    
        <table align="center">
            <tr class="listText">
                <td class="numbering">1)</td>
                <td><a href="https://eis.work.go.kr/eisps/main/index.do">시도별 일자리수 > 일자리수  /출처  : (고용행정통계)</a></td>
            </tr>
            <br>
            <br>
            <tr class="listText">
                <td class="numbering">2)</td>
                <td><a href="https://kosis.kr/statHtml/statHtml.do?orgId=101&tblId=DT_1DA7035">시도별 평균연봉 >  행정구역(시도)/종사상지위별 취업자 / 출처 : (KOSIS) </a></td>
            </tr>
            <br>
            <br>
            <tr class="listText">
                <td class="numbering">3)</td>
                <td><a href="https://www.mk.co.kr/economy/view.php?sc=50000001&year=2022&no=317318">개발자 및 정보통신업 창업 그래프 > 출처 : (매일경제뉴스)</a></td>
            </tr>
            <br>
            <br>
            <tr class="listText">
                <td class="numbering">4)</td>
                <td><a href="https://eis.work.go.kr/eisps/main/index.do">시도별 인구수 > 시도별 일자리수 > 출처 : (KOSIS)</a></td>
            </tr>
            <br>
            <br>
            <tr class="listText">
                <td class="numbering">5)</td>
                <td><a href="https://www.reb.or.kr/reb/na/ntt/selectNttInfo.do?mi=10251&bbsId=1268&nttSn=80236">지역코드별 시도 및 지역이름 컬럼 >전국주택가격동향조사 통계 > 출처 : (한국부동산원)</a></td>
            </tr>
            <br>
            <br>
            <tr class="listText">
                <td class="numbering">6)</td>
                <td><a href="https://www.google.co.kr/maps/?hl=ko">평당거래금액(히트맵) > 법정동에 해당하는 XY좌표 > 출처 : 구글지도</a></td>
            </tr>
            <br>
            <br>
            <tr class="listText">
                <td class="numbering">7)</td>
                <td><a href="https://www.jobplanet.co.kr/contents/news-3903"> IT및 인터넷 업계 연차별 연봉 > 출처(잡플래닛)</a></td>
            </tr>
            <br>
    
    
    
        </table>
</html>